<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTER PAGE</h1>
    <form action="/user/login" method="post">
        <label for="username">Username</label>
        <input type="text" id="username">
        <br>
        <label for="password">Password</label>
        <input type="password">
        <br>
        <label for="username">Gender</label>
        <input type="radio">
        <label for="username">Male</label>
        <br>
        <input type="radio">
        <label for="username">Female</label>
        <br>
        <input type="radio">
        <label for="username">Other</label>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>